# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DONGUS58_DONGLE

config ZMK_KEYBOARD_NAME
	default "Dongus58 Dongle"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif

if SHIELD_DONGUS58_LEFT || SHIELD_DONGUS58_RIGHT || SHIELD_DONGUS58_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y
	
endif