/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "keymap_swedish.h"

#define DEFAULT 0
#define NAV 1
#define SPECIAL 2
#define KEYPAD 3

/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ENTER  &kp SE_1  &kp SE_2  &kp SE_3        &kp SE_4    &kp SE_5                            &kp SE_6    &kp SE_7   &kp SE_8   &kp SE_9 &kp SE_0     &kp ENTER
&kp TAB    &kp Q     &kp W     &kp E           &kp R       &kp T                               &kp Y       &kp U      &kp I      &kp O    &kp P        &kp SE_ARNG
&kp LSHFT  &kp A     &kp S     &kp D           &kp F       &kp G      &none       &none        &kp H       &kp J      &kp K      &kp L    &kp SE_ODIA  &kp SE_ADIA
&kp LCTRL  &kp Z     &kp X     &kp C           &kp V       &kp B      &kp ESCAPE  &kp DELETE   &kp N       &kp M      &kp COMMA  &kp DOT  &none        &kp BACKSPACE
                               &kp LEFT_WIN    &kp LALT    &kp SPACE  &mo NAV     &mo SPECIAL  &mo KEYPAD  &kp ENTER  &none
            >;

            label = "Default";
        };

        nav_layer {
            bindings = <
&kp ENTER  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                   &kp F6  &kp F7    &kp F8        &kp F9     &kp F10        &kp F11
&trans     &trans   &trans   &trans   &trans   &trans                   &none   &kp HOME  &kp UP_ARROW  &kp END    &kp PAGE_UP    &kp F12
&trans     &trans   &trans   &trans   &trans   &trans   &trans  &trans  &none   &kp LEFT  &kp DOWN      &kp RIGHT  &kp PAGE_DOWN  &none
&trans     &trans   &trans   &trans   &trans   &trans   &trans  &trans  &none   &none     &none         &none      &none          &trans
                             &trans   &trans   &trans   &trans  &trans  &trans  &trans    &none
            >;

            label = "Naigation";
        };

        special_layer {
            bindings = <
&trans  &trans       &trans     &trans        &trans         &trans                        &trans        &trans         &trans        &trans        &trans       &trans
&trans  &kp SE_DLR   &kp SE_AT  &kp SE_PERC   &kp SE_AMPR    &kp SE_PIPE                   &kp SE_PLUS   &kp SE_LCBR    &kp SE_RCBR   &kp SE_GRAVE  &kp SE_CIRC  &trans
&trans  &kp SE_EURO  &none      &kp SE_HASH   &kp SE_SLSH    &kp SE_BSLS   &trans  &trans  &kp SE_MINS   &kp SE_LPRN    &kp SE_RPRN   &kp SE_QUOT   &kp SE_TILD  &trans
&trans  &kp SE_PND   &none      &kp SE_EQL    &kp SE_EXLM    &kp SE_QUES   &trans  &trans  &kp SE_ASTR   &kp SE_LBRC    &kp SE_RBRC   &kp SE_DQUO   &trans       &trans
                                &trans        &trans         &trans        &trans  &trans  &trans        &kp SE_LABK    &kp SE_RABK
            >;

            label = "Special";
        };

        keypad_layer {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &trans  &trans  &trans  &trans                            &trans        &trans    &trans    &trans    &trans        &trans
&trans      &trans        &trans  &trans  &trans  &trans                            &kp SE_PLUS   &kp SE_7  &kp SE_8  &kp SE_9  &kp SE_EQL    &trans
&trans      &trans        &trans  &trans  &trans  &trans  &trans       &trans       &kp SE_MINS   &kp SE_4  &kp SE_5  &kp SE_6  &kp SE_SLSH   &trans
&trans      &trans        &trans  &trans  &trans  &trans  &sys_reset   &sys_reset   &kp SE_AST    &kp SE_1  &kp SE_2  &kp SE_3  &kp ENTER     &trans
                                  &trans  &trans  &trans  &bootloader  &bootloader  &trans        &kp SE_0  &kp SE_COMM
            >;

            label = "Keypad";
        };
    };
};
